.wheel_background{
	background-image:url("../images/camelotHarmonicMixing.jpg");
	background-repeat: no-repeat;
	height: 600px;
	width: 600px;
	margin: 0px auto;
}

#bpm_error{
	color: red;
	display: none;
}

#camelot_code_error{
	color: red;
	display: none;
}

#response_error{
	color: red;
	display: none;
}

#analyze{
	margin: 1.2em auto 0.9em;
}