.wheel_background{
	background-image:url('../images/camelotHarmonicMixing.jpg');
	background-repeat: no-repeat;
	height: 600px;
	width: 600px;
	margin: 0px auto;
}

#bpm_error{
	color: red;
	display: none;
}

#camelot_code_error{
	color: red;
	display: none;
}

#response_error{
	color: red;
	display: none;
}

#analyze{
	margin: 1.2em auto 0.9em;
}

#bpm_incoming span{
	color: #2d3f73;
	background-color: #ededed;
	padding: 0.09em 0.2em;
	border-radius: 2px;
	font-weight: 800;
}

#keys_incoming span{
	color: #2d3f73;
	background-color: #ededed;
	padding: 0.09em 0.2em;
	border-radius: 2px;
	font-weight: 800;
}
#transition_time span{
	color: #2d3f73;
	background-color: #ededed;
	padding: 0.09em 0.2em;
	border-radius: 2px;
	font-weight: 800;
}