/** General **/
header{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color: #ffffff;
	font-weight: 500;
	letter-spacing: 0.6em;
	margin: 0.8em 0.2em;
	padding-left: 10px;
	padding-right: 25px;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #000000;
	background-image:url('../images/HhFums.png');
	border-radius: 5px;
}

body{
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	margin: 0 auto 1em auto;
}

.intro{

}

h2{
	font-size: 16pt;
	line-height: 14pt;
}

footer{
	background-color: #000000;
	font-family: Tahoma;
	color: #C0C0CA;
	font-size: smaller;
	padding-left: 5px;
	padding-right: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 5px;
	clear: both;		
}

/** Layout **/
#leftside{
	width: 425px;
	margin-right: 50px;
	margin-left: 1em;
	margin-bottom: 1em;
	float: left;
}

#inputs{
	background-image:url("../images/back_pattern.png");
	padding: 0.5em 1em;
	border-radius: 5px;
}

#outputs{
	background-image:url("../images/back_pattern.png");
	padding: 0.5em 1em;
	border-radius: 5px;
	margin-top: 0.5em;
}

#wheel{
	width: 620px;
	text-align: center;
	margin-bottom: 1em;
	float: left;	
}

/** Camelot Code wheel **/
#no_cavas{

}

#canvas{
	border: 0.5px solid black;
	position: relative;
	z-index: 1;
	overflow: hidden;
}
